:root {
  --color-contrast: #5932EA;
  --dark-text-color: #000;
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #E7E7E7;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

th {
  font-weight: normal;
  padding-bottom: 14px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

.main-section {
  display: flex;
}

.main__customers {
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  margin-left: 71px;
  margin-top: 51px;
  margin-bottom: 258px;
}

.menu__logo {
  display: flex;
  align-items: last baseline;
  margin-top: 40px;
  margin-bottom: 53px;
  margin-left: 28px;
}

.menu__logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu__logo-icon {
  width: 37px;
  height: 37px;
}

.menu__logo-text {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  color: var(--dark-text-color);
}

.menu__logo-version {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #838383;
  padding-left: 4px;
}

.main__greeting {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--dark-text-color);
  margin-left: 71px;
  margin-top: 41px;
}

.menu {
  position: relative;
  width: 306px;
  background-color: #fff;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu__list-item {
  width: 250px;
  height: 46px;
  background: inherit;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  transition: var(--primary-transition);
}
.menu__list-item:is(:hover, :focus) {
  background-color: var(--color-contrast);
}

.menu__list-item_pushed {
  background-color: var(--color-contrast);
}
.menu__list-item_pushed .menu__list-text {
  color: #fff;
}
.menu__list-item_pushed .menu__list-icon, .menu__list-item_pushed .menu__list-arrow {
  fill: #fff;
  stroke: #fff;
}

.menu__list-link {
  width: 250px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu__list-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: 11px;
  fill: #9197b3;
  stroke: #9197b3;
  transition: var(--primary-transition);
}
.menu__list-item:hover .menu__list-icon, .menu__list-item:focus .menu__list-icon {
  fill: #fff;
  stroke: #fff;
}

.menu__list-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197B3;
  margin-left: 14px;
  transition: var(--primary-transition);
}
.menu__list-item:hover .menu__list-text, .menu__list-item:focus .menu__list-text {
  color: #fff;
}

.menu__list-arrow {
  display: block;
  width: 16px;
  height: 16px;
  margin-left: auto;
  margin-right: 8px;
  fill: #9197b3;
  stroke: #9197b3;
  transition: var(--primary-transition);
}
.menu__list-item:hover .menu__list-arrow, .menu__list-item:focus .menu__list-arrow {
  fill: #fff;
  stroke: #fff;
}

.menu__user {
  position: absolute;
  bottom: 76px;
  display: flex;
  margin-left: 28px;
  margin-top: auto;
}

.menu__user-link {
  display: flex;
  gap: 12px;
}

.menu__user-photo {
  height: 42px;
  width: 42px;
}

.menu__user-name {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: var(--dark-text-color);
}

.menu__user-position {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}

.main__customers-header {
  display: flex;
}

.main__customers-text {
  margin-top: 30px;
  margin-left: 38px;
  margin-bottom: 75px;
}

.main__customers-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: var(--dark-text-color);
  margin-bottom: 7px;
}

.main__customers-active {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #16C098;
}

.main__customers-input-div {
  position: relative;
  margin-left: auto;
  margin-top: 44px;
  margin-right: 53px;
}

.main__customers-input {
  background: #F9FBFF;
  border-radius: 10px;
  width: 216px;
  height: 38px;
  border: none;
  padding-left: 40px;
}
.main__customers-input:focus {
  outline: none;
}
.main__customers-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}

.main__customers-input-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 8px;
  top: 7px;
}

.main__customers-main {
  padding-left: 38px;
  padding-right: 44px;
}

.main__customers-table {
  border-collapse: collapse;
}

.main__customers-table-titles {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
}
.main__customers-table-titles::after {
  content: "";
  position: absolute;
  width: 109.2%;
  border-bottom: 1px solid #EEEEEE;
  left: -38px;
  top: 100%;
}

.main__customers-table-title-name {
  padding-right: 57px;
}

.main__customers-table-title-company {
  padding-right: 61px;
}

.main__customers-table-title-phone {
  padding-right: 52px;
}

.main__customers-table-title-email {
  padding-right: 168px;
}

.main__customers-table-title-country {
  padding-right: 84px;
}

.main__customers-table-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #292D32;
  border-bottom: 1px solid #EEEEEE;
}
.main__customers-table-item td {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main__customers-table-item th {
  padding-bottom: 14px;
}

.main__customers-table-item_active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #008767;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  padding: 4px 18px;
  margin-right: 4px;
}

.main__customers-table-item_inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #DF0404;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  padding: 4px 12px;
  margin-right: 4px;
}

.main__customers-footer {
  display: flex;
  align-items: center;
}

.main__showing-data {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #B5B7C0;
  margin-left: 38px;
}

.main__pagination {
  display: flex;
  gap: 12px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: 40px;
}

.main__pagination-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 9px;
  gap: 10px;
  width: 25px;
  height: 24px;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #404B52;
  transition: var(--primary-transition);
}
.main__pagination-btn:hover, .main__pagination-btn:focus {
  background-color: var(--color-contrast);
  border: 1px solid var(--color-contrast);
  border-radius: 4px;
  color: #FFFFFF;
}

.main__pagination-btn_current {
  background-color: var(--color-contrast);
  border: 1px solid var(--color-contrast);
  border-radius: 4px;
  color: #FFFFFF;
}

.main__pagination-left-icon, .main__pagination-right-icon {
  width: 8px;
  height: 12px;
  fill: #404B52;
  transition: var(--primary-transition);
}
.main__pagination-btn:hover .main__pagination-left-icon, .main__pagination-btn:focus .main__pagination-left-icon, .main__pagination-btn:hover .main__pagination-right-icon, .main__pagination-btn:focus .main__pagination-right-icon {
  fill: #FFFFFF;
}/*# sourceMappingURL=main.css.map */